.middle {
  transition: all 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  font-size: 32px;
  color: rgb(255, 0, 0);
  cursor: pointer;
}
.card {
  position: relative;
  overflow: hidden;
}
.card:hover .middle {
  opacity: 1;
}
.card-img {
  height: 354px;
}
.card:hover .card-img {
  opacity: 0.3;
}
.text-block {
  position: absolute;
  background-color: black;
  text-align: center;
  width: 100%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transform: rotate(-45deg) translate(-31%, -175%);
}
/* @media screen and (max-width: 600px) {
  .card-img{
    height: ;
  }
} */
